body{
    /*background-image:  url("images/static.png");*/
    background-repeat: no-repeat;
    display: block;
    margin-right: 200px;
}

.navbar{
    border-radius: 0;

}

.navbar-brand{
    font-family: 'Satisfy',cursive;
}